
Notebooks/.ipynb_checkpoints/00 Intro and Setup-checkpoint.ipynb

Notebooks/.ipynb_checkpoints/01 Stats and Computing Basics-checkpoint.ipynb

.DS_Store

Notebooks/.ipynb_checkpoints/02 Textual Geography-checkpoint.ipynb
